In [1]:
import pandas as pd

In [2]:
sub_no = 90

In [3]:
event_1_psg = pd.read_csv(f'Dataset_clean_for_jupyter\\sub-{sub_no}\\eeg\\sub-{sub_no}_task-Sleep_acq-psg_events.tsv',sep = '\t')
event_1_hb = pd.read_csv(f'Dataset_clean_for_jupyter\\sub-{sub_no}\\eeg\\sub-{sub_no}_task-Sleep_acq-headband_events.tsv',sep = '\t')

In [4]:
event_1_psg.head()

   onset  duration  begsample  endsample  offset  majority  ai_psg
0      0        30          1       7680       0         0       0
1     30        30       7681      15360       0         0       0
2     60        30      15361      23040       0         0       0
3     90        30      23041      30720       0         0       0
4    120        30      30721      38400       0         0       0

In [5]:
event_1_hb.head()

   onset  duration  begsample  endsample  offset  ai_hb
0      0        30          1       7680       0      0
1     30        30       7681      15360       0      0
2     60        30      15361      23040       0      0
3     90        30      23041      30720       0      0
4    120        30      30721      38400       0      0

In [6]:

# Select the columns of interest
cols_to_compare = ['onset', 'duration', 'begsample', 'endsample', 'offset']

# Check for equality of the selected columns
comparison_result = event_1_psg[cols_to_compare].equals(event_1_hb[cols_to_compare])

# Print the result
print(f"Are the specified columns equal in both files? \n:->  {comparison_result}")

Are the specified columns equal in both files?
:->  True

In [7]:
print( event_1_hb['offset'].sum(),event_1_psg['offset'].sum())

0 0

In [8]:
event_1_hb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   onset      1040 non-null   int64
 1   duration   1040 non-null   int64
 2   begsample  1040 non-null   int64
 3   endsample  1040 non-null   int64
 4   offset     1040 non-null   int64
 5   ai_hb      1040 non-null   int64
dtypes: int64(6)
memory usage: 48.9 KB

ok, so now we can combine these 2 datasets on column onset (1 row will indicates a sample of 30 sec)

In [9]:
merged_labels_df = pd.merge(event_1_psg[['onset','majority','ai_psg']], event_1_hb[['onset','ai_hb']], on='onset', suffixes=('_psg', '_hb'))

In [10]:
merged_labels_df.head()

   onset  majority  ai_psg  ai_hb
0      0         0       0      0
1     30         0       0      0
2     60         0       0      0
3     90         0       0      0
4    120         0       0      0

In [11]:
merged_labels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   onset     1040 non-null   int64
 1   majority  1040 non-null   int64
 2   ai_psg    1040 non-null   int64
 3   ai_hb     1040 non-null   int64
dtypes: int64(4)
memory usage: 32.6 KB

In [12]:
merged_labels_df.describe()

              onset     majority       ai_psg        ai_hb
count   1040.000000  1040.000000  1040.000000  1040.000000
mean   15585.000000     1.890385     1.892308     1.640385
std     9010.993286     1.332753     1.325670     1.547920
min        0.000000     0.000000    -2.000000    -2.000000
25%     7792.500000     2.000000     1.000000     0.000000
50%    15585.000000     2.000000     2.000000     2.000000
75%    23377.500000     2.000000     2.000000     2.000000
max    31170.000000     8.000000     4.000000     4.000000

somethings not right, lets see the actual results

In [13]:

def analyze_label_distribution(df):
    """
    Analyzes the distribution of labels in each column ('majority', 'ai_psg', 'ai_hb').

    Args:
        df: DataFrame with 'onset', 'majority', 'ai_psg', and 'ai_hb' columns.

    Returns:
        A dictionary containing the unique labels and their counts for each column.
    """

    label_distributions = {}
    for col in ['majority', 'ai_psg', 'ai_hb']:
        label_distributions[col] = df[col].value_counts().to_dict()

    return label_distributions

In [14]:
# Analyze label distributions
label_distributions = analyze_label_distribution(merged_labels_df)

# Print the results
for col, label_counts in label_distributions.items():
    print(f"Label Distribution for '{col}':")
    for label, count in label_counts.items():
        print(f"  - {label}: {count}")
    print()

Label Distribution for 'majority':
  - 2: 620
  - 0: 227
  - 4: 159
  - 1: 26
  - 8: 8

Label Distribution for 'ai_psg':
  - 2: 576
  - 0: 233
  - 4: 200
  - 1: 26
  - -2: 5

Label Distribution for 'ai_hb':
  - 2: 540
  - 0: 234
  - 4: 179
  - -2: 59
  - 1: 28